@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,700;1,400&display=swap');

html {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
nav {
    padding-bottom: 50px;
}
h1 {
    font-size:2em;
    color: darkred;
    padding-left: 10px;
    }
p {
    padding-left: 10px;
}
#a {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;

}
